/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #fec803;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#top {
  background-color: white;
  width: 100%;
  padding: 0.75em;
  display: inline-block;
}

#logoTicom {
  width: 50px;
  height: 50px;
  float: left;
}

.glitchButton {
  float: left;
  padding-left: 19em;
}

.vl {
  border-left: 3px solid black;
  height: 50px;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}

#main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}
